doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css', rel='stylesheet', type='text/css')
    // Import Material Icons
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    nav.nav-extended.margin-nav.grey.darken-4
      .nav-wrapper
            a(href='/').brand-logo.big
            h1 #{title}
      .nav-content
          h5 We <3 hacker news!

    body

    block content

        script (src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
