doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')



    header.jumbotron.jumbotron-fluid.text-white.bg-dark
        .padding-header
            h1.display-4= title
            p.lead we <3 hacker news!

    body
    script(src = '/javascripts/app.js')
    script(src = '/components/bootstrap/dist/js/bootstrap.js')

    block content


